
.login{
    height: 88vh;
    width: 100%;
    background-image: url("../../assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.login-form-container{
    height: 400px;
    width: 350px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    color: rgba(0,0,0,0.4);
}

.login-form-header{
    padding: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.login-form-header .cross-icon{
    float: right;
    font-size: 1.4rem;
    cursor: pointer;
}

.login-form-header .cross-icon:hover{
    font-size: 1.5rem;
}

.login-form-header .form-title{
    display: inline-block;
    font-size: 1.2rem;
}

.login-form-content{
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-form-content .form-item{
    display: block;
    margin-bottom: 10px;
}

.login-form-content label{
    font-size: 1.1rem;
    font-weight: 600;
}

.login-form-content input{
    width: 100%;
    height: 30px;
    outline: none;
    padding: 0 7px;
    border: 1px solid rgba(0,0,0,0.1);
}

.login-form-content input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form-content .username-input{
    margin-bottom: 10px;
}

.form-error-text{
    color: red;
    margin-bottom: 10px;
}

.login-form-content .form-login-btn {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(255,255,255,0.8);
    background-color: royalblue;
    cursor: pointer;
}

.login-form-content .form-login-btn:hover {
    font-size: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form-content .register-link {
    margin-left: 5px;
    text-decoration: none;
}

.login-form-content .register-link:hover, .login-form-content .register-link:active {
    font-weight: 600;
    text-decoration: underline;
    color: royalblue;
    transition: all 0.3s ease-in-out;
}
